<div class="navMain">
    <a href="/"><h1 class="logo">Welcome</h1></a>
    <div class="line"></div>
    <div class="navRight">
      <a href="/login"><button class="navButton">Login</button></a>
      <a href="/register"><button class="navButton">Register</button></a>
    </div>
  </div>